@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: white;
  overflow-x: hidden;
}

.marquee-track {
  display: flex;
  width: max-content;
  gap: 2rem;

  padding: 14px 0;

  font-size: 3rem;
  font-weight: 900;
  color: #000;

  white-space: nowrap;

  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}